<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mx-auto my-5 px-0">
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary" type="button" th:href="@{/addPostForm}">글작성</a>
        <a class="btn btn-primary" type="button" th:href="@{/login}">Login</a>
    </div>
    <table class="table px-0 m-0">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">likes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <th scope="row" th:text="${post.id}"></th>
            <td>
                <a th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
            </td>
            <td th:text="${post.nickname}"></td>
            <td th:text="${post.likes}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>